# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
env/
venv/
*.env
*.log

# Flutter
.DS_Store
.dart_tool/
.fvm/
build/
*.iml
*.idea/
*.ipr/
*.iws/
flutter_export_environment.sh
flutter_export_environment.bat
pubspec.lock
*.g.dart
*.freezed.dart
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/contents.xcworkspacedata
android/.gradle/
android/app/.gitignore
android/app/build/
android/local.properties

# General
node_modules/
.vscode/
*.swp
*.swo
*.bak
